<h2>Login</h2>

<label>Username:</label> {{input value=username placeholder="Username"}}
<br>

<label>Password:</label> {{input type="password" value=password placeholder="Password"}}
<br><br>

<button {{action "authenticate"}}>Login</button>

{{outlet}}