label {
    color      : #607d8b;
    font-weight: bold;
    display    : inline-block;
    width      : 3em;
    margin     : .5em 0;
}

input {
    height      : 2em;
    font-size   : 1em;
    padding-left: .4em;
}

button {
    cursor          : pointer;
    cursor          : hand;
    font-family     : "Arial";
    background-color: #eee;
    margin-top      : 20px;
    border          : none;
    border-radius   : 4px;
    padding         : 5px 10px;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    cursor          : auto;
    background-color: #eee;
    color           : #ccc; 
}