<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-card">
        <LinkTo
            data-test-link="Back"
            @class="btn-back"
            @route="books.details"
            @model={{this.model.id}}
        >
            <span class="sr-only">Back</span>
        </LinkTo>

        <div class="slide-out-heading">
            <div class="title">
                <h3>Editing: {{this.model.title}}</h3>
            </div>
        </div>

        <div class="slide-out-content">
            <BookForm
                @book={{this.model}}
                @onSubmit={{this.saveBook}}
            />
        </div>
    </div>
</div>