{{#link-to "page2"}}Link to Page 2{{/link-to}}
<br>

<div class="page1-text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non aliquet quam. Vivamus egestas mi sapien, augue.
    </p>
</div>

{{liquid-outlet}}