<div class="card library-item">
    <div class="card-header">
        <h3 class="card-title">{{item.name}}</h3>
    </div>

    <div class="card-body">
        <p>Address: {{item.address}}</p>
        <p>Phone: {{item.phone}}</p>
    </div>

    <div class="card-footer text-right">
        {{yield}}
    </div>
</div>