<h3>Friends Index</h3>

<p>Number of friends: {{model.length}}</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |friend|}}
            <tr>
                <td>{{link-to friend.fullName "friends.show" friend}}</td>
                <td>
                    {{link-to "Edit" "friends.edit" friend}}
                    <a href="#" {{action "delete" friend}}>Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>