<h3>Friends Index</h3>

<p>Number of friends: {{model.length}}</p>

<ul>
    {{#each model as |friend|}}
        <li>
            {{#link-to "friends.show" friend}}
                {{friend.firstName}} {{friend.lastName}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>