<h3>Friends Index</h3>

<p>Number of friends: {{model.length}}</p>

<ul>
    {{#each model as |friend|}}
        <li>
            {{link-to friend.fullName "friends.show" friend}}
        </li>
    {{/each}}
</ul>