<h2>Edit library</h2>

<div class="row">
    <div class="col-md-6">
        {{library-item-form item=model action="saveLibrary" buttonLabel="Save changes"}}
    </div>

    <div class="col-md-4">
        {{#library-item item=model}}
            <br />
        {{/library-item}}
    </div>
</div>