<h1 id="title">Welcome to Ember</h1>

<p>Please open the Console to see log messages.</p>

{{#link-to "students"}}Link to Students (long loading){{/link-to}}
<br>

{{#link-to "teachers"}}Link to Teachers (error){{/link-to}}
<br><br>

{{outlet}}