@import "ember-cli-bootstrap-4/bootstrap";

html {
    overflow-y: scroll;
}

body {
    padding-top: 20px;
}

.library-item {
    min-height: 150px;
}

.badge-fade {
    margin : 10px;
    opacity: 0;

    @include transition(all 0.5s);

    &.badge-show {
        opacity: 1;
    }
}