<div class="row">
    <div class="col-md-4">
        <h1>Posts</h1>

        {{#each model as |post|}}
            {{#link-to "posts" post.titleURL}}{{post.title}}{{/link-to}}
            <br>
        {{/each}}
    </div>
</div>