<div class="jumbotron text-center">
    <h1 class="display-3">Coming Soon</h1>

    <p class="lead">Don't miss our launch date. Request an invitation now!</p>

    <form>
        <div class="row">
            <div class="col-10 offset-1 col-sm-6 offset-sm-1 col-md-5 offset-md-2">
                {{input type="email" value=emailAddress class="form-control" placeholder="Please type your email address." autofocus="autofocus"}}
            </div>

            <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-3">
                <button type="submit" class="btn btn-primary btn-block" disabled={{isDisabled}}>Request invitation</button>
            </div>
        </div>
    </form>
</div>