<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {{#link-to "index" class="navbar-brand"}}Library App{{/link-to}}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Main navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {{#nav-link-to "index" linkClass="nav-link"}}
                Home
            {{/nav-link-to}}

            {{#nav-link-to "libraries" linkClass="nav-link"}}
                Libraries
            {{/nav-link-to}}

            {{#nav-link-to "authors" linkClass="nav-link"}}
                Authors
            {{/nav-link-to}}

            {{#nav-link-to "books" linkClass="nav-link"}}
                Books
            {{/nav-link-to}}
        </ul>

        <ul class="navbar-nav">
            {{#nav-link-to "about" linkClass="nav-link"}}
                About
            {{/nav-link-to}}

            {{#nav-link-to "contact" linkClass="nav-link"}}
                Contact
            {{/nav-link-to}}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#nav-link-to "admin.invitations" linkClass="dropdown-item"}}
                        Invitations
                    {{/nav-link-to}}

                    {{#nav-link-to "admin.contacts" linkClass="dropdown-item"}}
                        Contacts
                    {{/nav-link-to}}

                    {{#nav-link-to "admin.seeder" linkClass="dropdown-item"}}
                        Seeder
                    {{/nav-link-to}}
                </div>
            </li>
        </ul>
    </div>
</nav>