<h1 id="title">Welcome to Ember</h1>

<p>Please open the Console to see log messages.</p>

<label>Input field</label>
{{input value=helloText key-press="pressed"}}
<br>

<label>Checkbox</label>
{{input type="checkbox" checked=isChecked}}
<br>

<label>Textarea</label>
{{textarea value="Hello world (one-way)" rows="10" cols="50"}}

{{outlet}}