<h1 id="title">Welcome to Ember</h1>

<p>Please open the Console to use <a href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?hl=en" target="_blank">Ember Inspector</a>.</p>

{{outlet}}