<h1 id="title">Welcome to Ember</h1>

{{#link-to "application"}}Reset query{{/link-to}}
<br>
{{#link-to "query" (query-params student="Jane")}}Query a student named Jane{{/link-to}}
<br>
{{#link-to "query" (query-params student="John")}}Query a student named John{{/link-to}}
<br><br>

{{outlet}}
