<textarea disabled id="chat-content" style="width: 500px; height: 300px"></textarea>
<br>

{{input type="text" placeholder="Username" value=username}}

{{input type="text" placeholder="Message" value=message}}

<button {{action "onSubmit" username message}}>Send</button>
<br><br>

<label>Message received:</label> {{messageReceived}}