<label>Start time:</label> {{moment-format startTime "MMMM Do YYYY, h:mm:ss a"}}
<br><br>

<label>Current time:</label> {{moment-format currentTime "MMMM Do YYYY, h:mm:ss a"}}
<br><br>

<label>Difference:</label> {{diff}} seconds