<label>Username:</label>
<br>
{{model.login}}
<br><br>

<label>Avatar:</label>
<br>
<img src={{model.avatar_url}} width="128" height="128">
<br><br>

<label>Number of public repos:</label>
<br>
{{model.public_repos}}